<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="com.shsxt.demo.UserDao"></bean>
	
	<!-- 第一种 setter注入 -->
	<bean id= "userService" class =  "com.shsxt.demo.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 第二种 构造器注入 -->
	<bean id= "userServiceV2" class =  "com.shsxt.demo.UserServiceV2">
		<constructor-arg index="0"  ref="userDao"></constructor-arg>
		<constructor-arg index="1" value="印度三哥"></constructor-arg>
	</bean>
	
	
	<!-- 第三种  静态工厂注入 -->
	<bean id =  "userDao01"  class = "com.shsxt.factory.StaticFactory" factory-method="createUserDao"></bean>
	<bean id="UserService" class="com.shsxt.factory.UserService" >
		<property name="userDao" ref="userDao01"></property>
	</bean>
	
	
</beans>
		