<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="userService" class="com.shsxt.demo.UserService">
		<property name="food">
			<list>
				<value>河南烩面</value>
				<value>南方臊子面</value>
				<value>油泼面</value>
				<value>方便面</value>
			</list>
		</property>

		<property name="set">
			<set>
				<value>快乐小馒头</value>
				<value>北方馒头</value>
				<value>天津麻花</value>
				<value>新疆大饼</value>
			</set>
		</property>
		
		
		
		
	</bean>

</beans>
		