<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="hello" class="com.shsxt.demo.Hello" lazy-init="false" scope="singleton"></bean> -->

	<bean id="hello" class="com.shsxt.demo.Hello" scope="prototype"
	 init-method="init"  destroy-method="destroy"></bean>

</beans>
		